{% extends "base.html" %}


{% block content %}
{% include "core/includes/hero.html" %}


<!-- Mission Statement -->
<section class="py-12 bg-white">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <p class="text-xl text-gray-700 font-nunito">{{ meta.callout }}</p>
    </div>
</section>

<div class="grid md:grid-cols-3 gap-8">
  {% for card in meta.feature_cards %}
    {% include "core/includes/feature_card.html" %}
  {% endfor %}
</div>



  <div class="markdown-content">
    {{ markdown_content|safe }}
  </div>
{% endblock %}