name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

    - name: Set up Python 3.12
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v5
      with:
        python-version: "3.12"

    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 #v7.1.2

    - name: Install dependencies
      run: uv sync

    - name: Run tests
      run: uv run python manage.py test
